body{
    align-items: center;
}
div{
    display: inline-block;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    height: 150px;
    width: 150px;
    border: 1px solid black;
}
img{
    height: 120px;
    width: 120px;
    position: relative;
}